@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "beleren";
    src: url("../public/beleren.ttf");
}

/*==========
Extra TailwindCSS classes
==========*/

.rotate-y-180 {
    transform: rotateY(180deg);
}

.reduced-width {
    width: min(60em, 100%);
}

.card-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.aspect-card {
    aspect-ratio: 10/14;
}

.font-beleren {
    font-family: "beleren", system-ui, -apple-system, BlinkMacSystemFont,
        Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
        Helvetica Neue, sans-serif;
}

.transform-preserve {
    transform-style: preserve-3d;
}

.back-hidden {
    backface-visibility: hidden;
}

.bg-placeholder {
    background-image: linear-gradient(to right, #ccc 35%, #eee 50%, #ccc 65%);
    background-size: 600%;
    animation: placeholder 1s linear infinite;
}

.bg-error {
    background-image: url("../assets/loadingError.svg");
    background-size: contain;
}

.center-absolute,
.custom-rotate180,
.custom-rotate90a,
.custom-rotate90c {
    left: 50%;
    transition: all 0.5s ease-in-out;
}

.center-absolute {
    transform: translateX(-50%);
}

.custom-rotate180 {
    transform: translateX(-50%) rotate(180deg);
}

.custom-rotate90c {
    transform: translateX(-50%) rotate(90deg) scale(0.7);
}

.custom-rotate90a {
    transform: translateX(-50%) rotate(-90deg) scale(0.7);
}

@keyframes placeholder {
    0% {
        background-position: right;
    }

    100% {
        background-position: left;
    }
}

*,
*:before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    outline: none;
    font-size: 1em;
    line-height: 1.15em;

    white-space: pre-line;
}

html,
body {
    padding: 0;
    margin: 0;
    height: auto;
    min-height: 100vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
        Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
        sans-serif;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: auto;
    scrollbar-color: #312e81 #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: #ffffff;
}

*::-webkit-scrollbar-thumb {
    background-color: #312e81;
    border-radius: 10px;
    border: 1px solid #ffffff;
}
